<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <!--Which connection string?-->
  <connectionStrings>
    <add name="System.Data.SqlClient" connectionString="Data Source=DESKTOP-J8M7AQJ;Initial Catalog=BookStore;Integrated Security=SSPI;Pooling=False"/>
    <add name="System.Data.OleDb" connectionString="Provider=SQLOLEDB; Data Source=DESKTOP-J8M7AQJ;Initial Catalog=BookStore;Integrated Security=SSPI;Pooling=False"/>
    <add name="System.Data.Odbc" connectionString="Provider=SQLODBC; Data Source=DESKTOP-J8M7AQJ;Initial Catalog=BookStore;Integrated Security=SSPI;Pooling=False"/>
  </connectionStrings>
</configuration>